GITHUB_CLIENT_ID=client_id_here
GITHUB_CLIENT_SECRET=client_secret_here
KEYCLOAK_CLIENT_SECRET=keycloak_client_secret_here
COOKIE_SECRET=cookie_secret_here
GITHUB_ALLOWED_USERS=user1,user2
KEYCLOAK_ADMIN_PASSWORD=keycloak_admin_password